/* Write your CSS here */
.tagsList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

.bg2 {
  color: black;
}

.min1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.min2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.im {
  margin-top: 18px;
  margin-right: 5px;
}

.item {
  margin: 5px;
}
